/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
dist
*.pid
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
/build
.env
.env.test
*.bin
/docs
/images
/profile
*.dll
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
._*
.Spotlight-V100
.fseventsd
.TemporaryItems
.apdisk